@using IFarmacias.Models.Response;

@model IFarmacias.Models.Response.RecipesResponse

@{
    bool isEdit = Model.IdRecipes > 0;
    bool isReadonly = ViewBag.Readonly != null && ViewBag.Readonly == true;

    HtmlString modalTitle;

    if (isReadonly) { modalTitle = new HtmlString("Ver"); }
    else if (isEdit) { modalTitle = new HtmlString("Editar"); }
    else { modalTitle = new HtmlString("Inserir"); }
}

<div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
        <!--Header-->
            <div class="modal-header">
               
                    <div class="btn-group mdbc-modal-action">
                    @if (isReadonly)
                    {
                        @Ajax.ActionLink("edit", "_ModalEditReceita",
                    new
                    {
                        idConsulta = ViewBag.idConsulta,
                        idReceita = Model.IdRecipes
                    },
                    new AjaxOptions()
                    {
                        UpdateTargetId = "modalReceita",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "onModalLoaded",
                        OnBegin = "onModalLoading"
                    },
                    new
                    {
                        @class = "material-icons",
                        data_target = "#modalReceita"
                    })

                        <!--Trigger-->
                        <a class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_vert</a>

                        <!--Menu-->
                        <div class="dropdown-menu dropdown-menu-right">
                        @Ajax.ActionLink("Eliminar", "DeleteReceita",
                        new
                        {
                            idConsulta = ViewBag.idConsulta,
                            idReceita = Model.IdRecipes
                        },
                        new AjaxOptions()
                        {
                            UpdateTargetId = "panelReceitas",
                            InsertionMode = InsertionMode.Replace,
                            OnFailure = "onModalError",
                            OnComplete = "onModalSubmited",
                            OnBegin = "confirmAction"
                        },
                        new
                        {
                            data_toggle = "popover",
                            data_placement = "bottom",
                            data_content = "Tem certeza que deseja remover o receita?",
                            title = "Confirmar",
                            @class = "dropdown-item"
                        })
                        </div>
                    }
                        <a class="close material-icons" data-dismiss="modal" aria-label="Close">close</a>
                    </div>
                <h4 class="modal-title" id="myModalLabel">@modalTitle receita</h4>
            </div>
            <!--Body-->
            <div class="modal-body">                
                @using (Ajax.BeginForm("AddEditReceita",
                        new { idConsulta = ViewBag.idConsulta },
                        new AjaxOptions()
                        {
                            UpdateTargetId = "panelReceitas",
                            InsertionMode = InsertionMode.Replace,
                            OnFailure = "onModalError",
                            OnSuccess = "onModalSubmited",
                            OnBegin = "disableAll",
                            OnComplete = "onModalLoaded"
                        }
                ))
                {
                    <h5><strong>Dados gerais da receita</strong></h5>
                    <br />
                    @Html.HiddenFor(x => x.IdRecipes)
                    <div class="col-11 col-centered">
                        <div class="md-form">
                            @if (!isReadonly)
                            {
                                @Html.TextBoxFor(x => x.RecipeNumber, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.RecipeNumber, new { @class = "form-control", @readonly = true })
                            }
                            @Html.LabelFor(x => x.RecipeNumber)
                        </div>

                        <div class="md-form">
                            @if (!isReadonly)
                            {
                                @Html.TextBoxFor(x => x.AccessCode, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.AccessCode, new { @class = "form-control", @readonly = true })
                            }
                            @Html.LabelFor(x => x.AccessCode)
                        </div>

                        <div class="md-form">
                            @if (!isReadonly)
                            {
                                @Html.TextBoxFor(x => x.RightOptionCode, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.RightOptionCode, new { @class = "form-control", @readonly = true })
                            }
                            @Html.LabelFor(x => x.RightOptionCode)
                        </div>
                        <button id="btnSubmit" type="submit" class="hidden-xs-up">Submeter</button>
                    </div>
                }
                <hr />
                <h5><strong>Medicamentos</strong></h5>
                <br />
                <div id="modalReceitaTable">
                    @Html.Action("_ModalReceitaTable", new { isReadonly })
                </div>
            </div>

            @if (!isReadonly)
            {
            <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn-flat red-text waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="submit" data-remote="#btnSubmit" class="btn-flat blue-text waves-effect">Submeter</button>
                </div>
            }
    </div>
    <!--/.Content-->
</div>