@model IEnumerable<IFarmacias.Models.Response.McdtResponse>

<div class="col-12">

    @if (Model.Any())
    {
        <h4><strong>Meios complementares de diagnostico e terapeutica</strong></h4>
        <div class="col-12 mdbc-nopad text-right">
            <br />
            <table class="table z-depth-1 mdbc-table table-hover">
                <thead>
                    <tr class="grey-text text-darken-1">
                        <td class="text-left">Numero da requisicao</td>
                        <td>Pin</td>
                        <td>Data</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-left">
                                @item.RequirementNumber
                            </td>
                            <td>@item.Pin</td>
                            <td>@item.DateCreated</td>
                            <td>

                                @Ajax.ActionLink("description", "_ModalViewMcdt",
                                    new
                                    {
                                        idConsulta = ViewBag.idConsulta,
                                        idMcdt = item.IdMcdt
                                    },
                                    new AjaxOptions()
                                    {
                                        UpdateTargetId = "modalMCDT",
                                        InsertionMode = InsertionMode.Replace,
                                        OnSuccess = "onModalLoaded",
                                        OnBegin = "onModalLoading"
                                    },
                                    new
                                    {
                                        @class = "material-icons mdbc-icon-md grey-text text-darken-2",
                                        title = "Detalles",
                                        data_toggle = "modal",
                                        data_target = "#modalMCDT"
                                    })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </div>
    }
    else
    {
        <div class="col-4 offset-4 text-center">
            <br />
            <br />
            <br />
            <br />
            <div class="offset-1 col-10">
                <img class="col-12" src="~/Content/Images/logo.png" />
            </div>
            <br />
            <h3>Não existem dados</h3>
        </div>
    }
</div>

<div class="fixed-action-btn">
    @Ajax.ActionLink("add", "_ModalAddMcdt",
        new
        {
            idConsulta = ViewBag.idConsulta
        },
        new AjaxOptions
        {
            UpdateTargetId = "modalMCDT",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "onModalSubmited"
        },
        new
        {
            @class = "btn-floating btn-large red material-icons white-text",
            data_toggle = "modal",
            data_target = "#modalMCDT"
        })
</div>