@using IFarmacias.Models.Enums
@model IEnumerable<IFarmacias.Models.ConsultasResponse>

@{
    ViewBag.Title = "Home";
}

<!-- Modal Assume the Consultation -->
<div class="modal fade" id="modalForgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h3><strong>Assmir consulta de </strong></h3>
            </div>

            <!--Body-->
            <div class="modal-body">
                <p class="black-54">Tem a certeza que pertende assumir a conslulta?</p>
            </div>

            <!--Footer-->
            <div class="modal-footer">
                <a type="button" href="/" class="btn-flat waves-effect" style="color: #FE2E9A" onclick="assumir();" data-dismiss="modal">ASSUMIR</a>
                <a type="button" href="/" class="btn-flat waves-effect" style="color: #FE2E9A" data-dismiss="modal">CANCELAR</a>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Assume the Consultation -->

<div id="result" class="row">
    @Html.Partial("_ConsultaDashBoard")
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

         /*signalr code from dashboard update*/
            var dashBoardHub = $.connection.dashBoardHub;
            $.connection.hub.logging = true;
            $.connection.hub.start().done(function () {
                
                console.log("SignalR start");
            });

            dashBoardHub.client.refreshTable = function()
            {
                console.log("SignalR Refresh data");
                 $.ajax({
                     cache: false,
                     type: "GET",
                     url: '@Url.Action("GetConsultationDashBoard")',
                     data: {},
                     success: function (data) {
                         $("#result").empty();
                         $("#result").html(data);

                     },
                     error: function (xhr) {

                     }
                 });
            }
            /*end signalr code from dashboard update*/

        $(document).ready(function () {
            var parameters = { idDoctor: "1" };
            // Test request MED-78
            @*$.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ListNotifications")',
                data: "",
                success: function (data) {
                    console.log(data);
                    //if (data != "") {

                    //}
                }
            });*@

            // Test request MED-79
            @*$.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ListMessages")',
                data: parameters,
                success: function (data) {
                    console.log(data);
                    //if (data != "") {

                    //}
                }
            });*@
        });

        $('#modalForgotPassword').on('show.bs.modal',
            function (event) {
                var button = $(event.relatedTarget);
                var idConsulta = button.data('idconsulta');

                var model = @Html.Raw(Json.Encode(Model));
                var paciente = model.filter(function(element) { return element.IdConsulta == idConsulta });

                var modal = $(this);
                modal.data('idconsulta', idConsulta);
                modal.find('.modal-header h3').text('Assmir consulta de ' + paciente[0].Name);
            });


    // Muestra el Modal Assume the Consultation. Recibe como parámetro el nombre del
    // paciente para personalizar el mensaje y el idConsulta para ser usado en caso de ASSUMIR.
    //function confirmar(paciente, idConsulta) {
    //    var modal = $('#modalForgotPassword');
    //    // Personalizar el título del modal
    //    var header = modal.find('.modal-header h3').text() + ' ' + paciente;
    //    modal.find('.modal-header h3').text(header);

    //    // Guardar el idConulta en el modal
    //    modal.find('.modal-header p').text(idConsulta);
    //    $('#modalForgotPassword').modal();

    //    //console.log('Id ' + idConsulta);
    //}

    function assumir() {
        var modal = $('#modalForgotPassword');
        var idConsulta = modal.data('idconsulta');
        console.log(idConsulta);

        var parameters = { idConsulta: idConsulta };
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("AssumeConsultation")',
            data: parameters,
            success: function () {
                console.log("Correcto");
                @*location.href = '@Url.Action("Index", "Home")';*@

            },
            error: function (xhr) {
                console.log("Error");
            }
        });
    }
</script>

}