@model WebMedico.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueci Palavra-passe";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br />

<!-- Modal ForgotPassword -->
<div class="modal fade" id="modalForgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">

                <h3><strong>Confirmacao de envio de E-mail</strong></h3>
            </div>

            <!--Body-->
            <div class="modal-body">
                <p class="black-54"></p>
            </div>

            <!--Footer-->
            <div class="modal-footer">
                <a id="btnmodal" type="button" href="/" class="btn-flat waves-effect">ENTENDI</a>
            </div>
        </div>
    </div>
</div>
<!-- End Modal ForgotPassword -->

<div class="row justify-content-md-center">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <div class="card">
            <div class="card-block">
                <div class="avatar text-center">
                    <img src="~/Content/Images/logo.png" alt="logo" width="75" height="75" class="mx-auto d-block" />
                </div>
                <br />
                <h4 class="text-center grey-text">Médicos & Farmácias</h4>
                <br />
                <h3 class="text-center black-54">Esqueceu palavra-passe?</h3>
                <p class="text-center">Pedir nova palavra-passe</p>
                <br />
                <br />

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

                {
                    @Html.AntiForgeryToken()

                    if (ViewData.ModelState.Values.Any() && ViewData.ModelState["NoEnviado"]?.Errors?.Count > 0)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                var modal = $('#modalForgotPassword');
                                modal.find('.modal-body p').text("Não foi possivel enviar um email para alterar a sua palavra-passe. Tente mais tarde.");
                                $('#modalForgotPassword').modal();
                            };
                        </script>
                    }

                    if (ViewData.ModelState.Values.Any() && ViewData.ModelState["Enviado"]?.Errors?.Count > 0)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                var modal = $('#modalForgotPassword');
                                modal.find('.modal-body p').text("Foi enviado um email para a sua caixa de correio para realizar a alteração da palavra-passe.");
                                $('#modalForgotPassword').modal();
                            };
                        </script>
                    }
                    <div class="col-10 col-centered">
                        <div class="md-form">
                            <i class="material-icons prefix">person</i>
                            @Html.LabelFor(m => m.Email, "Email", new { @class = "" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger text-center mdbc-validation-error" })
                        </div>

                    </div>
                    <br />
                    <div class="text-uppercase row">
                        <div class="col-sm-10 offset-sm-2">
                            <a href="/Home/Index" class="btn-flat waves-effect red-text">
                                Cancelar
                            </a>
                            <button type="submit" class="btn-flat waves-effect blue-text mdbc-nomargin">Confirmar</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}