@model WebMedico.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<br />
<div class="row justify-content-md-center">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <div class="card">
            <div class="card-block">
                <div class="avatar text-center">
                    <img src="~/Content/Images/logo.png" alt="logo" width="100" height="100" class="mx-auto d-block" />
                </div>
                <br />
                <h3 class="text-center grey-text">Médicos & Farmácias</h3>
                <br />
                <h3 class="text-center black-54"><strong>Restabelecer palavra-passe</strong>@*<br /><small class="text-muted">Nova palavra-passe</small>*@</h3>
                <br />
                <br />
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.token)

                    if (ViewBag.Error == "palavra-passe não criada")
                    {
                        <div class="modal fade" id="modalpalavrapassenocriada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <!--Header-->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title w-100" id="myModalLabel">Reset Palavra-passe</h4>
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body">
                                        Palavra-passe não criada
                                    </div>
                                    <!--Footer-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ENTENDI</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#modalpalavrapassenocriada').modal();
                            };
                        </script>
                    }

                    if (ViewBag.Exito == "palavra-passe criada")
                    {   <div class="modal fade" id="modalpalavrapassecriada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header">
                                <h3><strong>Reset Palavra-passe</strong></h3>
                            </div>
                            <!--Body-->
                            <div class="modal-body">
                                <p class="black-54">
                                    Palavra-passe alterada com sucesso. Vai ser redirecionado para a pagina de login.
                                </p>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <button type="button" class="btn-flat waves-effect" data-dismiss="modal" onclick="redirect();">ENTENDI</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    window.onload = function () {
                        $('#modalpalavrapassecriada').modal();
                    };
                </script>
                    }
                    <div class="col-10 col-centered">
                        <div class="md-form">
                            @Html.LabelFor(m => m.Password, "Palavra-passe", new { @class = "" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="md-form">
                            @Html.LabelFor(m => m.ConfirmPassword, "Confirmar palavra-passe", new { @class = "" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                        </div>
                        <div class="md-form">
                            @*<input type="submit" value="Confirmar" class="btn btn-primary col-12" />*@
                            <button type="submit" class="btn btn-primary col-12">Confirmar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
                    function redirect() {
                        $(location).attr('href', 'Login');
                    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
